[user]
	email = tanishqagarwal5414@gmail.com
	name = Tanishq Agarwal

[includeIf "gitdir:$HOME/dev/personal/"]
  email = tanishqagarwal5414@gmail.com
  name = Tanishq Agarwal
	signingkey =  4BC67DE35FB1A167 

[includeIf "gitdir:$HOME/dev/mittarv/"]
  email = tanishq.agarwal@mittarv.com
  name = Tanishq Agarwal
  signingkey = 8059CCA5B8172EF4
[commit]
	gpgsign = true
[alias]
	barefetch = !git fetch origin \"+refs/heads/*:refs/remotes/origin/*\"
	undo = reset --soft HEAD~1
	tree = log --graph --oneline --all
	unstage = reset HEAD --
	diffstaged = diff --cached
	arwt = "!f() { git worktree add \"$2\" \"$1\" && (cd \"$2\" && git fetch origin && git reset --hard origin/\"$1\"); }; f"
[init]
	defaultBranch = main
